*{
  font-family: helvetica;
}

p{
    color: #534741;
    text-align: center;
}

h1{
  color: #534741;
  padding: 5px;
  padding-top: 15px;
}
.numbers {
/*  overflow: auto;
  float: left;*/
  font-size: 75pt;
/*  padding: 5pt;*/
  margin:5pt;
  color: #ffffff;
/*  background-color: #ece;*/
}

.container{
  width: 500px;
  height: 350px;
  background-color: #bed3a1;
}

.sections {
  width: 125px;
  overflow: auto;
  float: left;
  text-align: center;

}